<main id="Login" class="panel panel-default">
   <div class='loginPage'>
      <div class='positioner'>
         <div class='loginContainer'>
            <div class='logo' align='center'>
               <img src='assets/images/loginLogo.png' class='img-responsive loginLogo'></img>
            </div>
            <p class='logintext'>Login to Your Four51 Dev Center Account</p>
            <form name="LoginForm" ng-submit="login.submit()">
               <input type='text' class='u_email' placeholder='Email Address' id="Username" ng-model="login.credentials.Username"/>
               <input type='password' class='u_pwd' placeholder='Password' id="Password" ng-model="login.credentials.Password"/>
               <button type='submit' class='submitLogin btn btn-primary'  ng-disabled="LoginForm.$invalid">LOGIN</button>
            </form>
            <div class='altLogin'>
               <p> or </p>
               <p> Signin with Your Guthub Account </p>
            </div>
            <div class='githubLogo'>
               <img src='assets/images/git.png' class='img-responsive gitlogo'></img>
            </div>
            <div class='loginOptions'>
               <span class=''>
               <a href='#'>Forgot Password?</a>
               </span>					
               <span class=''>
               <a href='#'>Dont have account?</a>
               </span>
            </div>
         </div>
      </div>
   </div>
</main>