
<div class="home-carousel">

  <div>
  <div>
    <uib-carousel interval="home.myInterval" no-wrap="home.noWrapSlides" active="2">
      <uib-slide ng-repeat="slide in home.slides">
        <img ng-src="{{slide.image}}" style="margin:auto;" class="img-responsive">
        <div class="carousel-caption order-cloud-carousel">
          <h4>{{slide.title}}<sup>TM</sup></h4>
          <p>{{slide.description}}</p>
          <button>{{slide.buttonTitle}}</button>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>

</div>

</div>

<div class="home-common first-wrap">
   <div class="row text-center">
     <div class="col-md-12">
      <p class="primary-head">Elegant, powerful, and easy to use cloud-based platform</p>
      <p class="normal-head">Create, configure and customize B2B eCommerce sites faster, easier and at lower cost. Solve complex order management challenges quickly by leveraging our cloud-based platform.</p>
     </div>
</div>


<div class="row four-column">
  <div class="col-md-3 col-sm-3">
    <img src="assets/images/Inline_Editors.svg" alt=""  />
    <h3>Inline Editors</h3>
    <p>Component Based Development
Get to your custom solution faster by leveraging our core acceleration components. Best practices, your way.</p>
  </div>
  <div class="col-md-3 col-sm-3">
        <img src="assets/images/Live_Preview.svg" alt=""  />
    <h3>Live Preview</h3>
    <p>Rapid Development Tools
Leverage seeds, SDK's, Documentation and Courses to build on OrderCloud quickly.</p>
  </div>
  <div class="col-md-3 col-sm-3">
        <img src="assets/images/Package_manager.svg" alt=""  />
    <h3>Package Manager</h3>
    <p>Extendable Data Model
Built on 16 years solving complex eCommerce and order management challenges. Feature rich and robust.</p>
  </div>
  <div class="col-md-3 col-sm-3">
        <img src="assets/images/cloud.svg" alt=""  />
    <h3>Development Made Easy</h3>
    <p>Developers can create custom code, debug the code, check it into a common source code repository and deploy it to the test, staging or production environments.  </p>
  </div>
</div>

   </div>
<div class="home-alt-carousel">
    <div>
  <div>
    <uib-carousel interval="home.myInterval" no-wrap="home.noWrapSlides">
      <uib-slide ng-repeat="slide in home.slides2" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{slide.title}}</h4>
          <p>{{slide.description}}</p>
          <button>{{slide.buttonTitle}}</button>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>

</div>
</div>




<div class="home-common second-wrap">
   <div class="row text-center">
     <div class="col-md-12">
      <h2 class="primary-head">OrderCloud Stories</h2>
     </div>
</div>


<div class="row three-column hidden-xs">
  <div class="col-md-4 col-sm-4">
    <div class="three-column-image"><img src="assets/images/papa_johns.png" class="img-responsive" alt=""  /></div>
    <h3>Papa John's</h3>
    <span>15,000+ orders a month? No problem.</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
    <button>Learn more</button>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="three-column-image">    <img src="assets/images/staples.png" class="img-responsive" alt=""  /></div>
    <h3>Staples</h3>
    <span>400+ custom storefonts. In the Cloud.</span>
    <p>Staples needed to empower each corporate customer with a unique brand and product set. With OrderCloud they drive over 20,000 fully automated monthly orders online and via mobile. </p>
    <button>Learn more</button>
  </div>
  <div class="col-md-4 col-sm-4">
        <div class="three-column-image"><img src="assets/images/burroughs_logo.png" class="img-responsive" alt=""  /></div>
    <h3>Burroughs</h3>
    <span>Massive Cost Savings? You bet.</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
    <button>Learn more</button>
  </div>
</div>


<div class="cloud-stories-mobile visible-xs">
      <uib-carousel interval="home.myInterval" no-wrap="home.noWrapSlides">
      <uib-slide ng-repeat="slide in home.mobileslides" active="slide.active">
      <div class="mobile-carousel">
        <div class="mo-carousel-image"><img ng-src="{{slide.image}}" style="margin:auto;" class="img-responsive"></div>
        <h3>{{slide.title}}</h3>
        <span>{{slide.description}}</span>
        <p>{{slide.text}}</p>
        <button>{{slide.button}}</button>
      </div>
      </uib-slide>
    </uib-carousel>
  </div>


   <div class="row text-center">
     <div class="col-md-12 more-stories">
      <span><a href="#">Read More Stories</a></span>
     </div>
</div>



   </div>


   <div class="home-common third-wrap">
       <div class="row text-center">
     <div class="col-md-12">
      <h2 class="primary-head">How can OrderCloud help you?</h2>
     </div>
</div>



<div class="row text-center tab-navigation">

      <div class="col-md-12">


  <uib-tabset>
    <uib-tab heading="DEVELOPERS">
    <div class="col-md-5 tabpanel-one">
        <img src="assets/images/help.png" class="img-responsive" alt="">
      </div>
      <div class="col-md-7 tabpanel-two">
        <div class="tab-content">
        <p>Shortened development time driven by component based development. Code, configure, and optimize your project using OrderCloud Dev Center. Bring your development projects to market quickly.</p> 
        </div>
        <div class="tab-description"><p>OrderCloud documentation and courses get developers on track and building on our platform effectively.</p>
        <p>Integration access to hundreds of 3rd party platforms for ERP, CRM, CMS, Analytics, Tax, PIM and more.</p></div>
      </div>
    </uib-tab>
    <uib-tab heading="BUSINESS OWNER">
    <div class="col-md-5 tabpanel-one">
        <img src="assets/images/business.png" class="img-responsive" alt="">
      </div>
      <div class="col-md-7 tabpanel-two">
        <div class="tab-content">
        <ul>
          <li>
            <h3>Reduce order processing costs. </h3>
            <p>OrderCloud helps you eliminate costly and complex processes, and save money. Most customers dramatically reduce cost per order.</p>
          </li>
          <li>
          <h3>Personalized Customer Ordering Experiences.</h3>
<p>With OrderCloud, your customers can now place orders 24x7, on their mobile device or in the office, on sites personalized to their needs.</p>
</li>
          <li>
            
            <h3>Get the solution you want.</h3>
<p>Integrate your CRM, ERP or other solutions. Customize the currency, language and payment methods for each customer.</p>
          </li>
        </ul>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>

      </div>

</div>


   </div>




