
<div class="home-carousel">

  <div>
  <div>
    <uib-carousel interval="home.myInterval" no-wrap="home.noWrapSlides" active="2">
      <uib-slide ng-repeat="slide in home.slides">
        <img ng-src="{{slide.image}}" style="margin:auto;" class="img-responsive">
        <div class="carousel-caption order-cloud-carousel">
          <h4>{{slide.title}}<sup>TM</sup></h4>
          <p>{{slide.description}}</p>
          <button>{{slide.buttonTitle}}</button>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>

</div>

</div>

<div class="home-common first-wrap">
   <div class="row text-center">
     <div class="col-md-12">
      <p class="primary-head">Elegant, powerful, and easy to use cloud-based platform</p>
      <p class="normal-head">Create, configure and customize B2B eCommerce sites faster, easier and at lower cost. Solve complex order management challenges quickly by leveraging our cloud-based platform.</p>
     </div>
</div>


<div class="row four-column">
  <div class="col-md-3 col-sm-3">
    <img src="assets/images/Inline_Editors.svg" alt=""  />
    <h3>Inline Editors</h3>
    <span>Component Based Development
Get to your custom solution faster by leveraging our core acceleration components. Best practices, your way.</span>
  </div>
  <div class="col-md-3 col-sm-3">
        <img src="assets/images/Live_Preview.svg" alt=""  />
    <h3>Live Preview</h3>
    <span>Rapid Development Tools
Leverage seeds, SDK's, Documentation and Courses to build on OrderCloud quickly.</span>
  </div>
  <div class="col-md-3 col-sm-3">
        <img src="assets/images/Package_manager.svg" alt=""  />
    <h3>Package Manager</h3>
    <span>Extendable Data Model
Built on 16 years solving complex eCommerce and order management challenges. Feature rich and robust.</span>
  </div>
  <div class="col-md-3 col-sm-3">
        <img src="assets/images/cloud.svg" alt=""  />
    <h3>Development Made Easy</h3>
    <span>Developers can create custom code, debug the code, check it into a common source code repository and deploy it to the test, staging or production environments.  </span>
  </div>
</div>

   </div>
<div class="home-alt-carousel">
    <div>
  <div>
    <uib-carousel interval="home.myInterval" no-wrap="home.noWrapSlides">
      <uib-slide ng-repeat="slide in home.slides2" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{slide.title}}</h4>
          <p>{{slide.description}}</p>
          <button>{{slide.buttonTitle}}</button>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>

</div>
</div>




<div class="home-common second-wrap">
   <div class="row text-center">
     <div class="col-md-12">
      <h2 class="primary-head">OrderCloud Stories</h2>
     </div>
</div>


<div class="row three-column hidden-xs">
  <div class="col-md-4 col-sm-4">
    <img src="assets/images/papa_johns.png" class="img-responsive" alt=""  />
    <h3>Papa John's</h3>
    <span>15,000+ orders a month? No problem.</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
    <button>Learn more</button>
  </div>
  <div class="col-md-4 col-sm-4">
        <img src="assets/images/staples.png" class="img-responsive" alt=""  />
    <h3>Staples</h3>
    <span>400+ custom storefonts. In the Cloud.</span>
    <p>Staples needed to empower each corporate customer with a unique brand and product set. With OrderCloud they drive over 20,000 fully automated monthly orders online and via mobile. </p>
    <button>Learn more</button>
  </div>
  <div class="col-md-4 col-sm-4">
        <img src="assets/images/burroughs_logo.png" class="img-responsive" alt=""  />
    <h3>Burroughs</h3>
    <span>Massive Cost Savings? You bet.</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
    <button>Learn more</button>
  </div>
</div>


<div class="cloud-stories-mobile visible-xs">
      <uib-carousel interval="home.myInterval" no-wrap="home.noWrapSlides">
      <uib-slide ng-repeat="slide in home.mobileslides" active="slide.active">
      <div class="mobile-carousel">
        <img ng-src="{{slide.image}}" style="margin:auto;" class="img-responsive">
        <h3>{{slide.title}}</h3>
        <span>{{slide.description}}</span>
        <p>{{slide.text}}</p>
        <button>{{slide.button}}</button>
      </div>
      </uib-slide>
    </uib-carousel>
  </div>


   <div class="row text-center">
     <div class="col-md-12 more-stories">
      <span><a href="#">Read More Stories</a></span>
     </div>
</div>



   </div>


   <div class="home-common third-wrap">
       <div class="row text-center">
     <div class="col-md-12">
      <h2 class="primary-head">How can OrderCloud help you?</h2>
     </div>
</div>



<div class="row text-center tab-navigation">

      <div class="col-md-12">
      <uib-tabset>
    <uib-tab ng-repeat="tab in home.tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
        <div class="col-md-5 tabpanel-one">
        <img src="{{tab.image}}" alt="" />
      </div>
      <div class="col-md-7 tabpanel-two">
        <div class="tab-content"><p>{{tab.content}}</p></div>
        <div class="tab-description"><p>{{tab.description1}}</p>
        <p>{{tab.description2}}</p></div>
      </div>
    </uib-tab>
  </uib-tabset>

      </div>

</div>


   </div>




<div class="footer">
  <div class="row text-center">
    <div class="col-md-12">
      <p class="footer-head hidden-xs">JOIN THOUSANDS OF BUSINESS AND MILLIONS OF USERS WORLDWIDE.</p>
      <div class="visible-xs mobile-footer-head">
        <span>JOIN OVER</span>
        <h3>1.5 MILLION</h3>
        <p>DEVELOPERS FROM AROUND THE GLOBE</p>
      </div>
      <div>
      </div>
      <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="" placeholder="Email Address">
  </div>
  <button type="submit" class="">Request Info</button>
</form>
    </div>
  </div>


<div class="row footer-navigation hidden-xs">
  <div class="col-md-3 col-sm-3">
    <span>QUICK LINKS</span>
    <ul>
      <li><a href="#">Source Code on Github</a></li>
      <li><a href="#">API Overview</a></li>
      <li><a href="#">Troubleshooting Help</a></li>
      <li><a href="#">Download OrderCloud Overview</a></li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-3">
        <span>Documentation</span>
    <ul>
      <li><a href="#">How to's</a></li>
      <li><a href="#">Glossary</a></li>
      <li><a href="#">App Development</a></li>
      <li><a href="#">Quick Start</a></li>
      <li><a href="#">Theme Development</a></li>
    </ul>
  </div>
  <div class="col-md-3 social-icons col-sm-3">
    <span>Social</span>
    <p><i class="fa fa-twitter"></i> <i class="fa fa-facebook"></i></p>
    <p><i class="fa fa-youtube-play"></i> <i class="fa fa-google-plus"></i></i></p>
  </div>
  <div class="col-md-3 col-sm-3">
    <span class="find-out-more">FIND OUT MORE ABOUT</span>
    <div class="four51_logo"></div>
    <span class="span-alt">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    <button class="click-here">CLICK HERE</button>
  </div>
</div>


<div class="mobile-social-icons visible-xs">
  <p>social</p>
  <span><i class="fa fa-twitter"></i></span>
  <span><i class="fa fa-facebook"></i></span>
  <span><i class="fa fa-youtube-play"></i></span>
  <span><i class="fa fa-google-plus"></i></span>
</div>


   <div class="row text-center footer-bottom">
     <div class="col-md-12 footer-logo"> </div>
     <span>Copyright@Four51, Inc.2015 400N 1st Avenue, Suite 200, Minneapolis, MN 55401</span>
</div>


<div class="row text-center footer-mobile-bottom visible-xs">
  <p>FIND OUT MORE ABOUT FOUR51</p>
  <button>CLICK HERE</button>
  </div>



</div>   
