#Class {
  background-color:@gray-light;
  &:not(.interactive) {
	max-height:~'calc(100vh - 102px)';
	overflow-y:auto;
  }
  #CourseContent {
	background-color:white;
	header {
	  padding:@padding-base-horizontal;
	  background-color:@gray-dark;
	  color:white;
	}
	& > div {
	  padding:@padding-base-horizontal;
	}
  }
  &.interactive {
	#ClassContainer {
	  display:flex;
	  flex-flow:row nowrap;
	}
	#CourseContent,
	#InteractiveUI {
	  height:~'calc(100vh - 102px)';
	}
	#CourseContent {
	  max-width:400px;
	  overflow-y:auto;
	}
	#InteractiveUI {
	  position:relative;
	  width:100%;
	  display:flex;
	  flex-flow:row nowrap;
	  & > div {
		flex:1;
	  }
	}
	#ScriptInput {
	  height:100%;
	  border-radius:0;
	}
	#Response {
	  background-color:#141414;
	  padding:@padding-base-horizontal;
	  & > div {
		background-color:@gray-dark;
		height:500px;
	  }
	}
  }
}