#Class {
  background-color:@gray-light;
  &:not(.interactive) {
	max-height:~'calc(100vh - 102px)';
	overflow-y:auto;
	#CourseContent {
	  & > div,
	  header {
		padding:1em 4em;
	  }
	}
  }
  #CourseContent {
	background-color:white;
	header {
	  padding:@padding-base-horizontal;
	  background-color:@gray-dark;
	  color:white;
	}
	& > div {
	  padding:@padding-base-horizontal;
	}
  }
  &.interactive {
	#ClassContainer {
	  display:flex;
	  flex-flow:row nowrap;
	  background-color:#141414;
	}
	#CourseContent,
	#InteractiveUI {
	  height:~'calc(100vh - 102px)';
	}
	#CourseContent {
	  max-width:400px;
	  overflow-y:auto;
	}
	#InteractiveUI {
	  position:relative;
	  width:100%;
	  display:flex;
	  flex-flow:row nowrap;
	  & > div {
		flex:1;
	  }
	  & > button {
		position:absolute;
	  }
	}
	#ScriptInputContainer {
	  display:flex;
	  flex-flow:column nowrap;
	  & > .script-nav {
		flex:0 1 auto;
		display:flex;
		flex-flow:row nowrap;
		justify-content:space-between;
	  }
	  & > #ScriptInput {
		flex:1 0 auto;
	  }
	}
	#ScriptInput {
	  border-radius:0;
	}
	#Response {
	  padding:@padding-base-horizontal;
	  & > div {
		background-color:@gray-dark;
		height:500px;
	  }
	}
  }
}

.apiRequestDisplay {
  display:flex;
  flex-flow:row nowrap;
  pre {
	&:first-child {
	  border: 1px solid @brand-primary;
	  background-color:@brand-primary;
	  color:white;
	  font-weight:bold;
	  flex:0 1 auto;
	  .border-right-radius(0);
	}
	&:last-child {
	  flex:1 0 auto;
	  border-left:none;
	  .border-left-radius(0);
	}
  }
}

@interactive-ui-bg: #141414;
@script-nav-tabs-hover-border-color: lighten(@interactive-ui-bg, 5);
@script-nav-tabs-active-link-color: #e2e2e2;
@script-nav-tabs-active-link-bg:#232323;
@script-nav-tabs-active-link-border-color: lighten(@interactive-ui-bg, 10);
.script-nav {
  padding-top:@padding-base-horizontal;
  .nav-tabs {
	border-bottom:none;
	> li {
	  margin-bottom: 0;
	  > a {
		&:focus,
		&:hover {
		  border-color: @script-nav-tabs-hover-border-color;
		  background-color: darken(@script-nav-tabs-active-link-bg, 3);
		}
	  }
	  // Active state, and its :hover to override normal :hover
	  &.active > a {
		&,
		&:hover,
		&:focus {
		  color: @script-nav-tabs-active-link-color;
		  background-color: @script-nav-tabs-active-link-bg;
		  border: 1px solid @script-nav-tabs-active-link-border-color;
		  border-bottom-color: transparent;
		  cursor: default;
		}
	  }
	}
  }
}