.hidden-mobile {
    display: none;
}
.hidden-desktop {
    display: none;
}
.home-carousel, .home-alt-carousel {
    overflow: hidden;
}
.home-carousel .carousel-control.left, .home-alt-carousel .carousel-control.left, .home-carousel .carousel-control.right, .home-alt-carousel .carousel-control.right {
    background-image: none;
}
.home-common {
    overflow: hidden;
    padding: 5%;
    .primary-head {
        color: #003843;
        font-size: 26px;
        font-family: lato;
        font-weight: 700;
        margin: 0;
    }
}
.home-carousel {
    .carousel-caption {
        top:35%;
    }
}
.order-cloud-carousel {
    h4 {
        color:#3590ce;
        font-size: 38px;
        font-weight: 700;
        text-shadow:none;
        font-family: lato;
        margin: 0;
        sup {
            font-size: 10px;
            top:-2.5em;
        }
    }
    p {
        color:#3590ce;
        font-size: 25px;
        font-weight: 400;
        text-shadow:none;
        font-family: lato;
        text-transform: capitalize;
        margin: 0;
    }
    button {
        background: #3590ce;
        border: none;
        padding: 10px 30px;
        border-radius: 4px;
        font-family: lato;
        color: #fff;
        text-transform: uppercase;
        margin-top: 16px;
    }
}
.order-cloud-carousel button:hover, .home-alt-carousel .carousel-caption button:hover, .three-column button:hover {
    background: #206798;
}
.home-alt-carousel {
    .carousel-caption {
        top: 20%;
        left: 50%;
        text-align: left;
        width: 400px;
        h4 {
            color:#fff;
            font-size: 25px;
            font-weight: 700;
            text-shadow:none;
            font-family: lato;
            margin: 14px 0;
        }
        p {
            color:#fff;
            font-size: 16px;
            font-weight: 400;
            text-shadow:none;
            font-family: lato;
            text-transform: capitalize;
            margin: 15px 0;
        }
        button {
            background: #3590ce;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            font-family: lato;
            color: #fff;
            text-transform: uppercase;
        }
    }
}
.first-wrap {
    .normal-head {
        color:#666666;
        font-family: lato;
        font-weight:400;
        font-size: 15px;
        padding: 0 18%;
    }
}
.four-column {
    .col-md-3 {
        text-align: center;
        margin-top: 35px;
    }
    img {
        width: 75px;
        height: 75px;
    }
    h3 {
        color:#666;
        font-size: 16px;
        font-family: lato;
        font-weight: 700;
    }
    p {
        font-family: lato;
        font-size: 12px;
        font-weight: 400;
        line-height:15px;
    }
}
.second-wrap {
    background: #f1f2f4;
    .col-md-12 {
        a {
            color:#666;
            text-decoration: underline;
            font-family: lato;
            font-weight: 400;
        }
    }
}
.third-wrap {
    padding: 5%;
}
.three-column {
    .col-md-4 {
        background: #fff;
        box-shadow: 1px 1px 1px rgba(255,255,255,0.6);
        text-align: center;
        margin: 10px;
        width: 394px;
        min-height: 380px;
        padding: 20px;
        margin-top: 50px;
        img {
            display: inline-block;
        }
    }
    .col-md-6 {
        background: #fff;
        box-shadow: 1px 1px 1px rgba(255,255,255,0.6);
        text-align: center;
        margin: 10px;
        width: 349px;
        padding: 20px;
    }
}
.three-column h3, .mobile-carousel h3 {
    font-family: lato;
    font-weight: 700;
    font-size: 20px;
    color: #666;
}
.three-column span, .mobile-carousel span {
    font-family: lato;
    color: #666;
    display: block;
}
.three-column p, .mobile-carousel p {
    font-family: lato;
    color: #9b9b9b;
    margin: 12px 0;
    font-size: 12px;
    min-height: 90px;
}
.three-column button, .mobile-carousel button {
    background-color: #3590ce;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 14px;
    text-align: center;
}
.more-stories {
    padding-top: 45px;
}
.tab-navigation {
    margin-top: 35px;
    .nav-tabs {
        width: 282px;
        margin: 0 auto;
        border-radius: 4px;
        border: none;
        li {
            margin-bottom: 0;
            float: left;
            background:#f6f6f6;
            border: 1px solid #d4d5d5;
            a {
                border: none;
                font-family: lato;
                font-weight: 700;
                color: #003843;
            }
        }
        li:first-child {
            border-right: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        li:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}
.tab-navigation .nav-tabs li a:hover, .tab-navigation .nav-tabs li a:focus {
    border: none;
}
.tabpanel-one {
    padding: 9% 5%;
    img{
    display:initial;
    }
}
.tabpanel-two {
    text-align: initial;
    padding: 5% 0;
    .tab-content {
        p {
            color: #666;
            font-family: lato;
            margin: 0 20px;
            font-size: 18px;
        }
        li{
        margin-bottom:35px;
        h3{
            color: #666666;
    font-family: lato;
    font-weight: 700;
    font-size: 20px;
    margin:0;
        }
        p{
        color: #666;
    font-family: lato;
    font-weight: 400;
    font-size: 15px;
    margin:0;
        }
        }
    }
    .tab-description {
        margin-top: 45px;
        p {
            color: #666;
            font-family: lato;
            margin: 10px 20px;
            padding:0;
        }
    }
}
.tab-navigation .nav-tabs &>li.active &>a, .tab-navigation .nav-tabs &>li.active &>a:focus, .tab-navigation .nav-tabs &>li.active &>a:hover {
    color: #949494;
    background: #f1f1f1;
    background: -moz-linear-gradient(top,  #f1f1f1 1%, #ffffff 27%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f1f1f1), color-stop(27%,#ffffff), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #f1f1f1 1%,#ffffff 27%,#ffffff 100%);
    background: -o-linear-gradient(top,  #f1f1f1 1%,#ffffff 27%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #f1f1f1 1%,#ffffff 27%,#ffffff 100%);
    background: linear-gradient(to bottom,  #f1f1f1 1%,#ffffff 27%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 );
}
.cloud-stories-mobile {
    .mobile-carousel {
        background: #fff;
        box-shadow: 1px 1px 1px rgba(255,255,255,0.6);
        text-align: center;
        margin: 10px;
        min-height: 380px;
        padding: 20px;
        margin-top: 20px;
    }
}
.cloud-stories-mobile .carousel-control.right, .cloud-stories-mobile .carousel-control.left {
    background: none;
}

.about-two-column {
    margin-top: 65px;
}
.about-two-column-icon {
    float: left;
    margin-top: 20px;
    width: 18%;
    .fa {
        color: #a7d4f4;
        font-size: 60px;
    }
    img {
        width: 50px;
    }
}
.about-two-column-content {
    float: left;
    color: #666;
    width: 82%;
    h3 {
        color: #666;
        font-family: lato;
        margin: 15px 0px;
    }
}
.about-two-column-content span, .about-two-column-content p {
    font-size: 12px;
    font-family: lato;
}
.about-ess-wrap {
    .col-md-8 {
        h3 {
            color: #666;
            font-size: 20px;
            font-family: lato;
            margin: 0;
        }
        p {
            color: #9b9b9b;
            font-size: 16px;
            font-family: lato;
            margin: 16px 0;
        }
        span {
            color: #9b9b9b;
            font-size: 13px;
            font-family: lato;
        }
    }
    .col-md-6 {
        margin-bottom: 15px;
        margin-top: 15px;
        .fa {
            color:#3590ce;
            font-size: 40px;
            line-height: 60px;
        }
    }

    .col-md-4{
    img{
    display:initial;
    }
    }
}
.about-end-to-end {
    padding:0 20%;
    margin-top:30px;
    h3 {
        color: #003843;
        margin:10px 0;
    }
    a {
        text-decoration: none;
        color: #3590ce;
        font-size: 12px;
    }
}
.ess_icon {
    margin-top: 15px;
    img {
        width: 35px;
    }
}
.ess-wrap {
    margin-top: 65px;
}
.about-e-wrap {
    .normal-head {
        padding:0 18%;
        color: #666;
        font-family: lato;
        margin:20px 0;
    }
}
.crm_icons {
    min-height: 70px;
    margin-top: 20px;
}
.crm_icons .crm_icon1, .crm_icons .crm_icon2 {
    width: 100px;
}
.about-three-column {
    padding:0 14%;
    margin-top: 45px;
    .col-md-4 {
        background: #fff;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        text-align: center;
        margin: 10px;
        width: 275px;
        min-height: 200px;
        padding: 20px;
        margin-top: 50px;
        border: 1px solid #e1e1e1;
    }
    img {
        display: inline-block;
    }
    h3 {
        font-size: 20px;
        font-family: lato;
        color: #666;
    }
}


#owl-carousel {
    .item {
        background: #fff;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        text-align: center;
        margin: 10px;
        min-height: 185px;
        padding: 20px;
        margin-top: 50px;
        border: 1px solid #e1e1e1;
        margin: 3px 6px;
        img {
            height: auto;
        }
        .item-image {
            min-height: 100px;
            padding-top: 15px;
        }
    }
}
.owl-carousel {
    .owl-next {
        position: absolute;
        left: 10%;
        top: 42%;
        text-indent: -9999px;
        background-image: url("images/carousel-left.png");
        width: 35px;
        height: 40px;
        background-size: 35px;
        background-repeat: no-repeat;
    }
    .owl-prev {
        position: absolute;
        right: 10%;
        top: 42%;
        text-indent: -9999px;
        background-image: url("images/carousel-right.png");
        width: 35px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: 35px;
    }
}

.owl-carousel{
.owl-item img{
    width:auto;
    display:inline-block;
    transform-style:flat;
}  
} 

.about-banner {
    min-height:400px;
    overflow:hidden;
    position: relative;
    background: #f0f9ff;
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff));
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
    background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
    background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
    background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );
}
.about-banner-text {
    min-height:150px;
}
.about-three-image {
    float: none;
    margin-left: auto;
    margin-right: auto;
    min-height:435px;
    width:80%;
    position:relative;
}
.about-three-left {
    float: left;
    width: 17%;
    height: 400px;
    margin-top:35px;
    img {
        height:400px;
    }
}
.about-three-center {
    float: left;
    width: 66%;
    height: 435px;
    img {
        height:435px;
    }
}
.about-three-right {
    float: left;
    width: 17%;
    height:400px;
    margin-top:35px;
    img {
        height:400px;
    }
}


/*RESPONSIVE CSS*/

.three-column .col-md-4{

    @media  (max-width: 768px){
    width: 220px;
    }
    @media  (max-width: 800px){
    width: 230px;
    }
@media  (max-width: 980px){
    width: 284px;
}
@media  (max-width: 1280px){
    width: 374px;
    }        
    }


.three-column .col-sm-4{
@media (max-width: 1024px){
width: 297px;
}
@media (max-width: 767px){
        width: 220px;
        }
    }

    .home-carousel .carousel-caption{
        @media (max-width: 767px){
        top: 20px;
        }


         @media (max-width:568px){
        top:20%;
       }
    }




    .home-carousel .carousel-caption h4{
    @media (max-width:568px){
    font-size:18px;
    }
    }

    .home-carousel .carousel-caption p{
    @media (max-width:568px){
    font-size:16px;
    }
    }

        .order-cloud-carousel h4 sup{
    @media (max-width:568px){
    top:-1.5em;
    }
    }

    .home-carousel .carousel-inner, .home-carousel .carousel-inner img{
        @media (max-width: 568px){
        min-height: 270px;
        }
    }



   .home-alt-carousel .carousel-caption{
     @media (max-width: 768px){
     top: 4%;
        left: 34%;
     }
    @media (max-width:767px){
         width:200px;
         left:50%;
       }

     @media (max-width:320px){
         left:15%;
       }
    }

    .home-alt-carousel .carousel-caption h4{
    @media (max-width: 768px){
    font-size:18px;
     }
    @media (max-width: 568px){
    font-size:12px;
     }
    }

    .home-alt-carousel .carousel-caption p{
     @media (max-width: 568px){
    font-size:9px;
     }
    }




    .home-alt-carousel .carousel-inner, .home-alt-carousel .carousel-inner img{
        @media (max-width: 568px){
        min-height: 270px;
        }
    }

    .carousel-indicators{
        @media (max-width: 767px){
        bottom: 0;
        }
    }

    .order-cloud-carousel button, .home-alt-carousel .carousel-caption button{
        @media (max-width: 767px){
        padding:6px 16px;
        }
    }


    .home-common .primary-head{
        @media (max-width: 767px){
        font-size: 21px;
        margin:18px 0;
        }
         
    }

    .first-wrap .normal-head{
    @media (max-width: 767px){
        padding: 0;
        font-size: 13px;
        margin-top: 15px;
        }
    }

    .tab-navigation .nav-tabs li a{
    @media (max-width: 767px){
        font-size: 12px;
        }
    }



    .more-stories{
        @media (max-width: 767px){
        padding-top: 20px;
        }
    }

    .about-ess-wrap .col-md-6{
        @media (max-width: 767px){
        width: 50%;
        float: left;
    }
    @media (max-width: 320px){
    width: 100%;
    }
    }

    .about-ess-wrap .col-md-6 .ess_icon{
        @media (max-width: 767px){
        width: 25%;
        float:left;
        }
    }

    .about-ess-wrap .col-md-6 .ess_content{
        @media (max-width: 767px){float: left;
        width: 75%;
        }
    }

    .about-three-column .col-md-4{
        @media (max-width: 767px){
        width: auto;
    }
    }

    .about-ess-wrap .col-md-8 p{
        @media (max-width: 767px){
        font-size: 14px;
    }}

    .about-two-column .col-md-6{
        @media (max-width: 767px){
        margin-bottom: 25px;
        overflow: hidden;
        }
    }

    .about-two-column-icon{
        @media (max-width: 767px){
        width: 25%;
        }
    }

    .about-two-column-content{
        @media (max-width: 767px){
        width: 75%;
        }
        @media (max-width: 767px){
        h3{
        font-size: 18px;
        }
        @media (max-width: 767px){
        span,p{
         font-size: 11px;
        }
        }
    }
    }

    .about-end-to-end{
        @media (max-width: 767px){
        padding: 0 17%;
        }
    }


    .about-end-to-end .col-md-6{
        @media (max-width: 767px){
        width: auto;
        }
    }

    .about-banner img{
        @media (max-width: 767px){height: 200px;
        }
    }

    .about-banner .primary-head{
    @media (max-width: 1024px){
    font-size: 24px;
        top: -6%;
        left: 24%;
    }
        @media (max-width: 767px){
        font-size: 15px;
        top: -16%;
        }
    }

    .three-column .col-md-6{
    @media (max-width: 1024px){
    width: 270px;
    }
    @media  (max-width: 768px){
    width: 200px;
    }
    }

    .about-three-column{
        @media (max-width: 767px){
        margin:0;
    }}

    .glyphicon-chevron-right, .glyphicon-chevron-left{
        @media (max-width: 767px){
        display: none !important;
    }}

    .cloud-stories-mobile .carousel-inner img{
        @media (max-width: 767px){min-height: auto;
        width:auto;
    }}


    .owl-carousel .owl-next{
    @media  (max-width: 768px){
    left: 5%;
    }
        @media (max-width: 767px){
        left: 5%;
        display:none;
    }}

    .owl-carousel .owl-prev{
    @media  (max-width: 768px){
    right: 5%;
    }
        @media (max-width: 767px){
        right: 5%;
        display:none;
    }}






.videogular-container {
	width: 100% !important;
	height: 320px;
	margin: auto;
	overflow: hidden;
}

@media (min-width: 1200px) {
	.videogular-container {
		width: 1170px;
		height: 658.125px;
	}

	.videogular-container.audio {
		width: 1170px;
		height: 50px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}

	.videogular-container.audio {
		width: 940px;
		height: 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}

	.videogular-container.audio {
		width: 728px;
		height: 50px;
	}
}



/**
 * @license videogular v1.2.7 http://videogular.com
 * Two Fucking Developers http://twofuckingdevelopers.com
 * License: MIT
 */
@font-face {
  font-family: 'videogular';
    /* TEST */
  src: url("fonts/videogular.eot");
  src: url("fonts/videogular.eot") format("embedded-opentype"), url("fonts/videogular.woff") format("woff"), url("fonts/videogular.ttf") format("truetype"), url("fonts/videogular.svg#videogular") format("svg");
  font-weight: normal;
  font-style: normal; }
videogular, [videogular] {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000000;
  display: block;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
  /*****************/
  /* Poster plugin */
  /*****************/
  /**********************/
  /* OverlayPlay plugin */
  /**********************/
  /*********************/
  /* Controlbar plugin */
  /*********************/
  /* IE10 hack */
  /* Controlbar icons */
  /********************/
  /* Buffering plugin */
  /********************/
  /* Loading Spinner
   * http://www.alessioatzeni.com/blog/css3-loading-animation-loop/
   */
  /**********************/
  /* IMA ads plugin */
  /**********************/ }
  videogular button, [videogular] button {
    cursor: pointer; }
  videogular.fullscreen, [videogular].fullscreen {
    position: fixed;
    left: 0;
    top: 0; }
  videogular vg-media, [videogular] vg-media {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block; }
    videogular vg-media video, [videogular] vg-media video {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%; }
  videogular .iconButton, [videogular] .iconButton {
    color: #FFFFFF;
    font-family: 'videogular';
    //speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background: none;
    padding: 6px;
    border: none; }
  videogular .iconButton:focus, [videogular] .iconButton:focus {
    border: 1px solid white; }
  videogular vg-poster, [videogular] vg-poster {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    pointer-events: none; }
  videogular vg-poster img, [videogular] vg-poster img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute; }
  videogular vg-poster img.pause,
  videogular vg-poster img.play, [videogular] vg-poster img.pause,
  [videogular] vg-poster img.play {
    display: none; }
  videogular vg-poster img.stop, [videogular] vg-poster img.stop {
    display: block; }
  videogular vg-overlay-play, [videogular] vg-overlay-play {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 2;
    top: 0; }
  videogular vg-overlay-play .play:before, [videogular] vg-overlay-play .play:before {
    content: "\e000"; }
  videogular vg-overlay-play .overlayPlayContainer, [videogular] vg-overlay-play .overlayPlayContainer {
    font-size: 100px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: table;
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6; }
  videogular vg-overlay-play .overlayPlayContainer div, [videogular] vg-overlay-play .overlayPlayContainer div {
    vertical-align: middle;
    text-align: center;
    display: table-cell; }
  videogular vg-controls, [videogular] vg-controls {
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 0; }
  videogular vg-controls .controls-container, [videogular] vg-controls .controls-container {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: table;
    zoom: 1; }
  videogular vg-play-pause-button, [videogular] vg-play-pause-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer; }
  videogular vg-time-display, [videogular] vg-time-display {
    color: #FFFFFF;
    display: table-cell;
    font-family: Arial;
    font-size: 18px;
    width: 75px;
    vertical-align: middle;
    text-align: center;
    cursor: default; }
  videogular .vgTimeDisplay, [videogular] .vgTimeDisplay {
    display: table-cell;
    font-family: Arial;
    font-size: 18px;
    width: auto; }
  videogular vg-scrub-bar, [videogular] vg-scrub-bar {
    width: auto;
    display: table-cell;
    cursor: pointer;
    vertical-align: middle; }
  videogular vg-scrub-bar [role=slider], [videogular] vg-scrub-bar [role=slider] {
    margin-top: 24px;
    margin-bottom: 24px;
    height: 2px;
    background-color: black;
    position: relative; }
  videogular vg-scrub-bar :focus vg-scrub-bar-current-time, [videogular] vg-scrub-bar :focus vg-scrub-bar-current-time {
    border-right: 6px black groove; }
  videogular vg-scrub-bar-current-time, [videogular] vg-scrub-bar-current-time {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer; }
  videogular vg-scrub-bar-buffer, [videogular] vg-scrub-bar-buffer {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
  videogular vg-scrub-bar-cue-points, [videogular] vg-scrub-bar-cue-points {
    width: 100%;
    height: 100%;
    display: block;
    position: relative; }
    videogular vg-scrub-bar-cue-points .cue-point-timeline, [videogular] vg-scrub-bar-cue-points .cue-point-timeline {
      color: #FFFFFF;
      padding-top: 3px; }
      videogular vg-scrub-bar-cue-points .cue-point-timeline .cue-point, [videogular] vg-scrub-bar-cue-points .cue-point-timeline .cue-point {
        position: absolute;
        height: 3px;
        background-color: #FFFFFF; }
  videogular vg-playback-button, [videogular] vg-playback-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer; }
  videogular vg-volume, [videogular] vg-volume {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer; }
  videogular vg-volume-bar, [videogular] vg-volume-bar {
    width: 50px;
    height: 100px;
    top: -100px;
    margin-left: -25px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    cursor: pointer; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    videogular vg-volume-bar, [videogular] vg-volume-bar {
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5; } }
  videogular vg-fullscreen-button, [videogular] vg-fullscreen-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer; }
  videogular vg-volume-bar .verticalVolumeBar, [videogular] vg-volume-bar .verticalVolumeBar {
    width: 50px;
    height: 100px;
    background-color: #000000;
    position: absolute; }
  videogular vg-volume-bar .volumeBackground, [videogular] vg-volume-bar .volumeBackground {
    width: 20px;
    height: 70px;
    left: 15px;
    top: 15px;
    background-color: #222222;
    position: absolute; }
  videogular vg-volume-bar .volumeValue, [videogular] vg-volume-bar .volumeValue {
    width: 20px;
    height: 100%;
    background-color: #FFFFFF;
    position: absolute; }
  videogular vg-volume-bar .volumeClickArea, [videogular] vg-volume-bar .volumeClickArea {
    width: 20px;
    height: 100%;
    position: absolute; }
  videogular vg-controls .hide-animation, [videogular] vg-controls .hide-animation {
    animation: hideControlsAnimationFrames ease-out 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*when the spec is finished*/
    -webkit-animation: hideControlsAnimationFrames ease-out 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    /*Chrome 16+, Safari 4+*/
    -moz-animation: hideControlsAnimationFrames ease-out 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    /*FF 5+*/
    -o-animation: hideControlsAnimationFrames ease-out 0.5s;
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode: forwards;
    /*Not implemented yet*/
    -ms-animation: hideControlsAnimationFrames ease-out 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: forwards;
    /*IE 10+*/ }
@keyframes hideControlsAnimationFrames {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-moz-keyframes hideControlsAnimationFrames {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-webkit-keyframes hideControlsAnimationFrames {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-o-keyframes hideControlsAnimationFrames {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-ms-keyframes hideControlsAnimationFrames {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
  videogular vg-controls .show-animation, [videogular] vg-controls .show-animation {
    animation: showControlsAnimationFrames ease-out 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*when the spec is finished*/
    -webkit-animation: showControlsAnimationFrames ease-out 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    /*Chrome 16+, Safari 4+*/
    -moz-animation: showControlsAnimationFrames ease-out 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    /*FF 5+*/
    -o-animation: showControlsAnimationFrames ease-out 0.5s;
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode: forwards;
    /*Not implemented yet*/
    -ms-animation: showControlsAnimationFrames ease-out 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: forwards;
    /*IE 10+*/ }
@keyframes showControlsAnimationFrames {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }
@-moz-keyframes showControlsAnimationFrames {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }
@-webkit-keyframes showControlsAnimationFrames {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }
@-o-keyframes showControlsAnimationFrames {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }
@-ms-keyframes showControlsAnimationFrames {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }
  videogular vg-play-pause-button .play:before, [videogular] vg-play-pause-button .play:before {
    content: "\e000"; }
  videogular vg-play-pause-button .pause:before, [videogular] vg-play-pause-button .pause:before {
    content: "\e001"; }
  videogular vg-mute-button, [videogular] vg-mute-button {
    width: 50px;
    display: block; }
  videogular vg-mute-button .level3:before, [videogular] vg-mute-button .level3:before {
    content: "\e002"; }
  videogular vg-mute-button .level2:before, [videogular] vg-mute-button .level2:before {
    content: "\e003"; }
  videogular vg-mute-button .level1:before, [videogular] vg-mute-button .level1:before {
    content: "\e004"; }
  videogular vg-mute-button .level0:before, [videogular] vg-mute-button .level0:before {
    content: "\e005"; }
  videogular vg-mute-button .mute:before, [videogular] vg-mute-button .mute:before {
    content: "\e006"; }
  videogular vg-fullscreen-button .enter:before, [videogular] vg-fullscreen-button .enter:before {
    content: "\e007"; }
  videogular vg-fullscreen-button .exit:before, [videogular] vg-fullscreen-button .exit:before {
    content: "\e008"; }
  videogular vg-buffering, [videogular] vg-buffering {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 0; }
  videogular vg-buffering .bufferingContainer, [videogular] vg-buffering .bufferingContainer {
    width: 100%;
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-top: -50px;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6; }
  videogular vg-buffering .loadingSpinner, [videogular] vg-buffering .loadingSpinner {
    background-color: transparent;
    border: 5px solid white;
    opacity: .9;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 50px;
    box-shadow: 0 0 35px #FFFFFF;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear; }
  videogular vg-buffering .loadingSpinner .stop, [videogular] vg-buffering .loadingSpinner .stop {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused; }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-moz-keyframes spinoff {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg); } }
  videogular vg-ima-ads, [videogular] vg-ima-ads {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    display: none; }

/*# sourceMappingURL=videogular.css.map */

@media (max-width:767px){
.about-banner{
    min-height:200px;
}
.about-three-image{
min-height:200px;
}
.about-three-left{
height:200px;
}
.about-three-center{
height:235px;
}

.about-three-center img{
height:235px !important;
}

.about-three-right{
height:200px;
}
}

/*play button*/
videogular vg-overlay-play .overlayPlayContainer div, [videogular] vg-overlay-play .overlayPlayContainer div{
    background: url('images/a2.png');
}
