<div class="course-container">
    <div class="learning-container">
        <div class="course-main-left" ng-include="course.class.LeftContent"></div>
        <div class="course-main-center hidden-xs hidden-sm">
            <div class="section left-section" ng-class="{sdk: course.config.sdkMode}">
                <div class="head">
                    <h1>ORDERCLOUD 3.0 CONSOLE</h1>
                </div>
                <div class="protocol">
                    <section class="console-selector">
                        <span dropdown>
                          <a href dropdown-toggle>
                              {{course.request.selectedMethod.name || 'Method'}} <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                              <li ng-repeat="method in course.request.selectedService.methods">
                                  <a href ng-click="course.updateMethodDependencies(method.name)">{{method.name}}</a>
                              </li>
                          </ul>
                        </span>
                        <span class="http-verb">
                            {{course.request.httpVerb}}
                        </span>
                        <pre>{{course.request.selectedEndpoint.UriTemplate}}</pre>
                        <span class="btn btn-link" ng-click="course.config.hideParams = !course.config.hideParams"> <!--ng-if="course.api.SelectedEndpoint && course.api.SelectedEndpoint.Parameters.length"-->
                            Params
                        </span>
                    </section>
                    <section collapse="course.config.hideParams">
                        <span><a href type="button" ng-init="headersCollapsed = true" ng-click="headersCollapsed = !headersCollapsed">Show Headers</a></span>
                        <div collapse="headersCollapsed" class="headers">
                            <div class="input-group">
                                <span class="input-group-addon param-name">Content-Type</span>
                                <input type="text" class="form-control" ng-model="course.request.call.Headers['Content-Type']">
                                <span class="input-group-addon param-type">string</span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon param-name">Authentication</span>
                                <input type="text" class="form-control" ng-model="course.request.call.Headers.Authentication">
                                <span class="input-group-addon param-type">string</span>
                            </div>
                        </div>
                        <div class="params">
                            <div class="input-group" ng-repeat="param in course.request.selectedEndpoint.Parameters">
                                <span class="input-group-addon param-name" ng-class="{danger: param.Required}">{{param.Name}}</span>
                                <input type="text" title="{{param.Description}}" ng-required="true" class="form-control">
                                <span class="input-group-addon param-type">{{param.Type}}</span>
                            </div>
                        </div>

                    </section>


                </div>

                <div class="editor">
                    <div ng-hide="false" style="height: 100%;" class="code-box"
                         ui-ace="{
                      useWrapMode : true,
                      theme:'idle_fingers',
                      mode: 'json',
                      tabSize: '4',
                      showPrintMargin: false
                    }" ng-model="course.request.selectedEndpoint.RequestBody.Sample"></div>
                    <div style="height:100%" ng-show="false"></div> <!--Keeps submit button in same location when editor is hidden-->
                    <div class="submission">
                        <button class="btn btn-primary" ng-disabled="course.config.submitDisable" ng-click="course.processApiRequest(course.class.ApiCall.Method, course.class.ApiCall.Url, course.class.ApiCall.Params, course.class.ApiCall.Headers, course.class.ApiCall.Object)">Submit</button>
                    </div>
                </div>
                <button class="btn btn-info" ng-class="{sdk: course.config.sdkMode}" ng-click="course.toggleConsoleMode()">{{course.request.mode}}</button>
            </div>
            <div class="right-section-container">
                <div class="section right-top-section">
                    <div class="head">
                        <h1>CONSOLE LOG</h1>
                    </div>
                    <div class="log-container">
                        <div class="log-item" ng-repeat="log in course.callLog" ng-class="{success: log.success}">
                            <div class="log-entry-left log-entry">
                                <div>{{log.method}}</div>
                            </div>
                            <div class="log-entry-middle log-entry">
                                <div>{{log.url}}</div>
                            </div>
                            <div class="log-entry-right log-entry">
                                <div><a href><i class="fa fa-eye"></i></a><a href><i class="fa fa-thumb-tack"></i></a><a href><i class="fa fa-remove"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section right-bottom-section">
                    <div class="head">
                        <h1>RESPONSE CONSOLE</h1>
                    </div>
                    <div class="editor">
                        <div style="height: 100%;" class="code-box" readonly
                             ui-ace="{
                          useWrapMode : true,
                          theme:'idle_fingers',
                          showGutter: false,
                          mode: 'json',
                          tabSize: '4',
                          showPrintMargin: false
                        }" ng-model="course.request.response"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>