<div class="main-container">
    <div class="course-home">
        <div class="course-card">
            <div class="icon-container">
                <i class="fa fa-rocket"></i>
            </div>
            <div class="course-caption">
                <h3>Getting Started</h3>
                <div class="chip chip-1">
                    <span>Beginner</span>
                </div>
                <p>Learn the foundations of OrderCloud 3.0 through creating the building blocks of your application</p>
                <button class="btn btn-primary btn-block"  ui-sref="base.course({'courseID':'getting-started', 'classID':'api-intro'})">START COURSE</button>
            </div>
        </div>
        <div class="course-card">
            <div class="icon-container">
                <i class="fa fa-diamond"></i>
            </div>
            <div class="course-caption">
                <h3>Products</h3>
                <div class="chip chip-1">
                    <span>Beginner</span>
                </div>
                <p>Learn the basics of what you need to know about managing products in OrderCloud 3.0</p>
                <button class="btn btn-primary btn-block">START COURSE</button>
            </div>
        </div>
        <div class="course-card">
            <div class="icon-container">
                <i class="fa fa-sitemap"></i>
            </div>
            <div class="course-caption">
                <h3>Categories</h3>
                <div class="chip chip-1">
                    <span>Beginner</span>
                </div>
                <p>Learn the basics of what you need to know about managing categories in OrderCloud 3.0</p>
                <button class="btn btn-primary btn-block">START COURSE</button>
            </div>
        </div>
        <div class="course-card">
            <div class="icon-container">
                <i class="fa fa-sitemap"></i>
            </div>
            <div class="course-caption">
                <h3>Categories</h3>
                <div class="chip chip-2">
                    <span>Intermediate</span>
                </div>
                <p>Learn more advanced techniques for managing categories in OrderCloud 3.0</p>
                <button class="btn btn-primary btn-block">START COURSE</button>
            </div>
        </div>
        <div class="course-card">
            <div class="icon-container">
                <i class="fa fa-money"></i>
            </div>
            <div class="course-caption">
                <h3>Payments</h3>
                <div class="chip chip-3">
                    <span>Advanced</span>
                </div>
                <p>Learn how to manage payments in OrderCloud 3.0</p>
                <button class="btn btn-primary btn-block">START COURSE</button>
            </div>
        </div>
        <div class="course-card">
            <div class="icon-container">
                <i class="fa fa-map-marker"></i>
            </div>
            <div class="course-caption">
                <h3>Addresses</h3>
                <div class="chip chip-2">
                    <span>Intermediate</span>
                </div>
                <p>Learn how to create and use Addresses within OrderCloud 3.0</p>
                <button class="btn btn-primary btn-block">START COURSE</button>
            </div>
        </div>

    </div>
</div>

