body {
  padding-top:70px; // Source - http://getbootstrap.com/components/#callout-navbar-fixed-top-padding
}

[ui-sref] {
  cursor: pointer;
}

*:focus {
  outline:none !important;
}

//angularjs form validation
.ng-dirty.ng-valid {
  .form-control-validation-angular(@state-success-text; @state-success-text; @state-success-bg);
}

.ng-invalid {
  .form-control-validation-angular(@state-danger-text; @state-danger-text; @state-danger-bg);
}

.table {
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: middle;
      }
    }
  }
}