//These are the variables used throughout the application. This is where
//overwrites that are not specific to components should be maintained.

@chip1: #2980B9;
@chip2: #8E44AD;
@chip3: #D35400;

@four51-blue: #003843;
@four51-orange: #FF5F32;
@brand-primary: lighten(@four51-blue,10);