<nav id="dev-center-navigation" class="navbar navbar-default navbar-fixed-top" ng-init="mainCollapsed = true">
   <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header header-logo">
         <img ui-sref="base.home" src="assets/images/OrderCloud_Logo.png" alt="" class="img-responsive">
      </div>
         <button type="button" class="navbar-toggle" ng-click="mainCollapsed = !mainCollapsed" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse" collapse="mainCollapsed" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav header-nav">
            <li>
               <a href="" ui-sref="base.about">About</a>
            </li>
            <li>
               <a href="" ui-sref="base.console">Console</a>
            </li>
            <li>
               <a href="" ui-sref="base.sdks">SDKS</a>
            </li>
            <li>
               <a href="" ui-sref="base.components">Components</a>
            </li>
            <li id="doc-nav">
               <a href="">Documentation</a>
               <div class="dropDownMenu">
                  <div class="menuNav">
                     <ul>
                        <li ng-repeat="doc in base.DocMenu" ng-mouseenter = "base.showSubMenu($index)" ng-class="{'active': base.selectedIndex == $index}">
                           <a href="#">{{doc.title}}</a>
                           <div class="menuContent" ng-show = "base.selectedIndex == $index">
                              <span>{{doc.title}}</span>
                              <p>{{doc.desc}}</p>
                           </div>
                        </li>
                     </ul>
                  </div>
                  <div class="arrow-up"></div>
               </div>
            </li>
         </ul>
         <!--If user logged out -->
         <ul class="nav navbar-nav navbar-right anonymous">
            <li ng-if="!base.currentUser" class='loginLabel' ng-hide="isAuthenticated"><a ui-sref="login">Log In</a></li>
            <li class="dropdown" dropdown ng-if="base.currentUser">
               <a href="" class="dropdown-toggle" dropdown-toggle role="button" aria-haspopup="true">Account</a>
               <ul class="dropdown-menu top-caret" dropdown-menu>
                  <li class="dropdown-header">{{base.currentUser.FirstName + ' ' + base.currentUser.LastName}}</li>
                  <li><a href>Settings</a></li>
                  <li><a href>Notifications</a></li>
                  <li><a href>Help</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="" ng-click="application.logout()"><i class="fa fa-power-off"></i> Logout</a></li>
               </ul>
            </li>
         </ul>
         <!--If user logged out end -->
         <!--If user logged In -->
         <ul class="nav navbar-nav navbar-right headerControls" ng-show="isAuthenticated">
            <li class="repIcon">
               <img src="assets/images/repository.svg" alt="" ><span>Repository XYZ</span><i class="fa fa-sort-desc"></i>
               <div class="dropDownRep">
                  <span>Repository App Items</span>
                  <div class="arrow-up"></div>
               </div>
            </li>
            <li class="controlIcons">
               <div class="notIcon" ng-click="base.showNotification($event)" ><span class="notCount">3</span><i class="fa fa-bell"></i></div>
               <div class="updatesIcon" ng-click="base.showUpdates($event)">		
                  <i class='fa fa-inbox'></i>
                  <span class='updateCount'></span>
               </div>
               <div class="searchIcon" ng-click="base.showSearch($event)"><i class="fa fa-search"></i></div>
            </li>
            <li class="userLogin" id="userName">
               <span>Jessica Tuan</span><i class="fa fa-sort-desc"></i>
               <div class="dropDownLogin">
                  <img src="assets/images/Jessica.png" alt="" class="profileThumb">
                  <span >Jessica Tuan</span>
                  <span class="userMailAddress">jessicatuan@gmail.com</span>
                  <button class="viewProfileButton">VIEW PROFILE</button>
                  <ul>
                     <li><a href="#">My Account(s)</a></li>
                     <li><a href="#">Reports</a></li>
                     <li><a href="#">Clients</a></li>
                     <li id="logout"><a href=""  ng-click="application.logout()">Log out</a></li>
                  </ul>
                  <div class="arrow-up"></div>
               </div>
            </li>
         </ul>
         <!--If user logged In end -->
      </div>
   </div>
</nav>
<div class="notificationWrap" id="notPanel">
   <h2>Notification</h2>
   <ul>
      <li>
         <span>June 26 2015</span>
         <span>Improved Four51 Dev Center Reporting...more</span>
         <span class="spanMT15"></span>
      </li>
      <li>
         <span>June 26 2015</span>
         <span>Four51 Dev Maintenance Alert...less</span>
         <span class="spanMT15">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
      </li>
      <li>
         <span>June 26 2015</span>
         <span>Notice Regarding XYXY 5.0 Vulnerability...more</span>
         <span class="spanMT15"></span>
      </li>
   </ul>
</div>
<div class="productUpdateWrap" id="updatePanel">
   <h2>Product Updates</h2>
   <ul>
      <li>
         <span>June 26 2015</span>
         <span>Improved Four51 Dev Center Reporting...more</span>
         <span class="spanMT15"></span>
      </li>
      <li>
         <span>June 26 2015</span>
         <span>Four51 Dev Maintenance Alert...less</span>
         <span class="spanMT15">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
      </li>
      <li>
         <span>June 26 2015</span>
         <span>Notice Regarding XYXY 5.0 Vulnerability...more</span>
         <span class="spanMT15"></span>
      </li>
   </ul>
</div>
<div class="SearchWrap" id="searchPanel" ng-click="showfun()">
   <h2>Search</h2>
   <input type="text" placeholder="Keyword search" id="searchField">
   <h3>Recent Search</h3>
   <ul>
      <li>
         <span>Image - twitter bootstrap carousel size - Stack Overflow</span>
         <span><a href="#">https://github.com/intervention/images</a></span>
         <span class="spanMT15">8/28/2015 4.27 AM Jan 29, 2013 - You can just set the width of the carousel using CSS. Centering a block element is done with margin: 0 auto . Only change the CSS of .carousel ...</span>
      </li>
      <li>
         <span>Image - twitter bootstrap carousel size - Stack Overflow</span>
         <span><a href="#">https://github.com/intervention/images</a></span>
         <span class="spanMT15">8/28/2015 4.27 AM Jan 29, 2013 - You can just set the width of the carousel using CSS. Centering a block element is done with margin: 0 auto . Only change the CSS of .carousel ...</span>
      </li>
   </ul>
</div>

<main ui-view></main>

<div class="footer">
  <div class="row text-center">
    <div class="col-md-12">
      <p class="footer-head">JOIN THOUSANDS OF BUSINESS AND MILLIONS OF USERS WORLDWIDE.</p>
      <!--<div class="visible-xs mobile-footer-head">
        <span>JOIN OVER</span>
        <h3>1.5 MILLION</h3>
        <p>DEVELOPERS FROM AROUND THE GLOBE</p>
      </div>-->
      <div>
      </div>
      <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="" placeholder="Email Address">
  </div>
  <button type="submit" class="">Request Info</button>
</form>
    </div>
  </div>


<div class="row footer-navigation hidden-xs">
  <div class="col-md-3 col-sm-3">
    <span>QUICK LINKS</span>
    <ul>
      <li><a href="#">Source Code on Github</a></li>
      <li><a href="#">API Overview</a></li>
      <li><a href="#">Troubleshooting Help</a></li>
      <li><a href="#">Download OrderCloud Overview</a></li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-3">
        <span>Documentation</span>
    <ul>
      <li><a href="#">How to's</a></li>
      <li><a href="#">Glossary</a></li>
      <li><a href="#">App Development</a></li>
      <li><a href="#">Quick Start</a></li>
      <li><a href="#">Theme Development</a></li>
    </ul>
  </div>
  <div class="col-md-3 social-icons col-sm-3">
    <span>Social</span>
    <p><i class="fa fa-twitter"></i> <i class="fa fa-facebook"></i></p>
    <p><i class="fa fa-youtube-play"></i> <i class="fa fa-google-plus"></i></i></p>
  </div>
  <div class="col-md-3 col-sm-3">
    <span class="find-out-more">FIND OUT MORE ABOUT</span>
    <div class="four51_logo"></div>
    <span class="span-alt">Four51 powers B2B eCommerce and order management for thosands of 
customers and millions of users worldwide.</span>
    <button class="click-here">CLICK HERE</button>
  </div>
</div>


<div class="mobile-dropdown-links visible-xs">
<div>

  <uib-accordion close-others="base.oneAtATime">
 <uib-accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" style="display:none;">
 <uib-accordion-heading> Quick Links <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
    <ul>
      <li><a href="#">Source Code on Github</a></li>
      <li><a href="#">API Overview</a></li>
      <li><a href="#">Troubleshooting Help</a></li>
      <li><a href="#">Download OrderCloud Overview</a></li>
    </ul>
    </uib-accordion-group>
     <uib-accordion-group is-disabled="status.isFirstDisabled" style="display:none;">
     <uib-accordion-heading> Documentation <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
    <ul>
      <li><a href="#">How to's</a></li>
      <li><a href="#">Glossary</a></li>
      <li><a href="#">App Development</a></li>
      <li><a href="#">Quick Start</a></li>
      <li><a href="#">Theme Development</a></li>
    </ul>
    </uib-accordion-group>
     <uib-accordion-group is-disabled="status.isFirstDisabled">
     <uib-accordion-heading> Social <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
  <span><i class="fa fa-twitter"></i></span>
  <span><i class="fa fa-facebook"></i></span>
  <span><i class="fa fa-youtube-play"></i></span>
  <span><i class="fa fa-google-plus"></i></span>
    </uib-accordion-group>
     <uib-accordion-group is-disabled="status.isFirstDisabled">
     <uib-accordion-heading> Find out more <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
  <div class="col-md-3 col-sm-3">
    <span class="find-out-more">FIND OUT MORE ABOUT</span>
    <div class="four51_logo"></div>
    <span class="span-alt">Four51 powers B2B eCommerce and order management for thosands of 
customers and millions of users worldwide.</span>
    <button class="click-here">CLICK HERE</button>
  </div>
    </uib-accordion-group>
  </uib-accordion>
</div>
</div>


   <div class="row text-center footer-bottom">
     <div class="col-md-12 footer-logo"> </div>
     <span>Copyright@Four51, Inc.2015 400N 1st Avenue, Suite 200, Minneapolis, MN 55401</span>
</div>


<!--<div class="row text-center footer-mobile-bottom visible-xs">
  <p>FIND OUT MORE ABOUT FOUR51</p>
  <button>CLICK HERE</button>
  </div>-->



</div>   
