




<div class="about-banner">
   <div class="row text-center">
     <div class="col-md-12">
      <img src="assets/images/about_main.png" alt="" />
      <p class="primary-head">A modern, cloud-based component editor <br> that understands development </p>
     </div>
</div>
</div>

<div class="home-common first-wrap">
   <div class="row text-center">
     <div class="col-md-12">
      <p class="primary-head">Our Solution. Yours. Or the Best of Both</p>
      <p class="normal-head">Our multi-tenant cloud platform enables fully customized B2B eCommerce solutions. The OrderCloud Dev Center features a secure and extendable data model, REST API, and rapid development tools. </p>
     </div>
</div>


<div class="row about-two-column">
  <div class="col-md-6">
  	  	<div class="about-two-column-icon col-md-3"><img src="assets/images/bulb.svg" alt="" /></div>
        <div class="about-two-column-content col-md-9">
  	<h3>Why Use OrderCloud</h3>
  	<span>OrderCloud enables you to empower your customers with friendly ordering environments, reduce costs, and drive operational efficiencies. Too many businesses are wasting money and losing customers because of legacy systems, inefficiencies, errors and outdated processes. There's a better way to do B2B eCommerce -- OrderCloud is that better way.</span>
  </div>
</div>
  <div class="col-md-6">
  	  	<div class="about-two-column-icon col-md-3"><img src="assets/images/unique.svg" alt="" /></div>
        <div class="about-two-column-content col-md-9">
  	<h3>What Makes us Unique</h3>
  	<p><b>Flexibility: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
    <p><b>Speed: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
    <p><b>Experience: </b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
  </div>
</div>
</div>

   </div>









<div class="row about-video">
<div class="col-md-12">
  <div  class="videogular-container">
	<videogular vg-theme="about.config.theme.url">
		<vg-media vg-src="about.config.sources"
				  vg-tracks="about.config.tracks">
		</vg-media>

		<vg-controls vg-autohide="about.config.plugins.controls.autoHide" vg-autohide-time="about.config.plugins.controls.autoHideTime">
			<vg-play-pause-button></vg-play-pause-button>
			<vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
			<vg-scrub-bar>
				<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
			</vg-scrub-bar>
			<vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
			<vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
			<vg-volume>
				<vg-mute-button></vg-mute-button>
				<vg-volume-bar></vg-volume-bar>
			</vg-volume>
            <vg-playback-button></vg-playback-button>
			<vg-fullscreen-button></vg-fullscreen-button>
		</vg-controls>
	</videogular>
</div>
</div>
</div>



<div class="home-common about-ess-wrap">
   <div class="row text-center">
     <div class="col-md-12">
      <h2 class="primary-head">And more development essentials...</h2>
     </div>
</div>


<div class="row ess-wrap">
  <div class="col-md-4">
    <img src="assets/images/ess.png" alt="" class="img-responsive" />
  </div>
  <div class="col-md-8">
    <h3>Designed with the developers in mind..</h3>
    <p>Empower your customers with environments optimized by company, group, or the individual. Develop for mobile and tablet users. Build off of our Core
components to get to your custom solution that improves your customers' buying  experiences.</p>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="col-md-2 ess_icon"><img src="assets/images/ess_icon4.svg" alt="" /></div>
        <div class="col-md-10 ess_content"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</span></div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="col-md-2 ess_icon"><img src="assets/images/ess_icon2.svg" alt="" /></div>
        <div class="col-md-10 ess_content"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</span></div>
      </div>

            <div class="col-md-6 col-sm-6">
        <div class="col-md-2 ess_icon"><img src="assets/images/ess_icon3.svg" alt="" /></div>
        <div class="col-md-10 ess_content"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</span></div>
      </div>

            <div class="col-md-6 col-sm-6">
        <div class="col-md-2 ess_icon"><img src="assets/images/ess_icon4.svg" alt="" /></div>
        <div class="col-md-10 ess_content"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</span></div>
      </div>

    </div>

  </div>
</div>



   </div>




<div class="home-common second-wrap about-e-wrap">
   <div class="row text-center">
     <div class="col-md-12">
      <h2 class="primary-head">End-to-End Commerce through Integrations</h2>
      <p class="normal-head">Work with your channel partners seamlessly through integration strategies that extend the use of the platform and help streamline workflows.</p>
     </div>
</div>


<div class="row three-column about-end-to-end">
  <div class="col-md-6 col-sm-6">
  	       <div class="crm_icons">
          <img src="assets/images/crm_icon1.svg" class="crm_icon1" alt"" /> 
        </div>
  	<h3>ERP Integrations</h3>
  	<p>Comprehensive tools and features allow for end-to-end integration with your
systems. Receive order data and send back shipment data, manage catalog/user data, and build custom handling of the checkout process.</p>
  	<a href="#">Learn more about the four51 integration process.</a>
  </div>
  <div class="col-md-6 col-sm-6">
  	  	<div class="crm_icons">
          <img src="assets/images/crm_icon2.svg" class="crm_icon2" alt"" /> 
        </div>
  	<h3>CRM Integrations</h3>
  	<p>Whether it is Single Sign On Integration, a PunchOut Integration with your 
procurement system, or an integration with any other back office system,
Four51 can work with your existing
business infrastructure.</p>
  	<a href="#">Learn more about the four51 integration process.</a>
  </div>
</div>



   </div>


   


<div class="home-common about-us-trusted">
   <div class="row text-center">
     <div class="col-md-12">
      <h2 class="primary-head">OrderCloud is trusted by...</h2>
     </div>
</div>


<div class="row about-three-column owl-carousel owl-theme" id="owl-carousel">
          
  <div class="item">
    <div class="item-image"><img src="assets/images/papa_johns_about.png" class="img-responsive" alt="Owl Image"></div>
    <h3>Papa John's</h3>
  </div>
  <div class="item">
    <div class="item-image"><img src="assets/images/staples_about.png" class="img-responsive" alt="Owl Image"></div>
    <h3>Staples</h3>
  </div>
  <div class="item">
    <div class="item-image"><img src="assets/images/Burroughs_logo.png" class="img-responsive" alt="Owl Image"></div>
    <h3>Burroughs</h3>
  </div>
  <div class="item">
    <div class="item-image"><img src="assets/images/papa_johns_about.png" class="img-responsive" alt="Owl Image"></div>
    <h3>Papa John's</h3>
  </div>

</div>



   </div>




<div class="footer">
  <div class="row text-center">
    <div class="col-md-12">
      <p class="footer-head hidden-xs">JOIN THOUSANDS OF BUSINESS AND MILLIONS OF USERS WORLDWIDE.</p>
      <div class="visible-xs mobile-footer-head">
        <span>JOIN OVER</span>
        <h3>1.5 MILLION</h3>
        <p>DEVELOPERS FROM AROUND THE GLOBE</p>
      </div>
      <div>
      </div>
      <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="" placeholder="Email Address">
  </div>
  <button type="submit" class="">Request Info</button>
</form>
    </div>
  </div>


<div class="row footer-navigation hidden-xs">
  <div class="col-md-3 col-sm-3">
    <span>QUICK LINKS</span>
    <ul>
      <li><a href="#">Source Code on Github</a></li>
      <li><a href="#">API Overview</a></li>
      <li><a href="#">Troubleshooting Help</a></li>
      <li><a href="#">Download OrderCloud Overview</a></li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-3">
        <span>Documentation</span>
    <ul>
      <li><a href="#">How to's</a></li>
      <li><a href="#">Glossary</a></li>
      <li><a href="#">App Development</a></li>
      <li><a href="#">Quick Start</a></li>
      <li><a href="#">Theme Development</a></li>
    </ul>
  </div>
  <div class="col-md-3 social-icons col-sm-3">
    <span>Social</span>
    <p><i class="fa fa-twitter"></i> <i class="fa fa-facebook"></i></p>
    <p><i class="fa fa-youtube-play"></i> <i class="fa fa-google-plus"></i></i></p>
  </div>
  <div class="col-md-3 col-sm-3">
    <span class="find-out-more">FIND OUT MORE ABOUT</span>
    <div class="four51_logo"></div>
    <span class="span-alt">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    <button class="click-here">CLICK HERE</button>
  </div>
</div>


<div class="mobile-social-icons visible-xs">
  <p>social</p>
  <span><i class="fa fa-twitter"></i></span>
  <span><i class="fa fa-facebook"></i></span>
  <span><i class="fa fa-youtube-play"></i></span>
  <span><i class="fa fa-google-plus"></i></span>
</div>


   <div class="row text-center footer-bottom">
     <div class="col-md-12 footer-logo"></div>
      <span>Copyright@Four51, Inc.2015 400N 1st Avenue, Suite 200, Minneapolis, MN 55401</span>
</div>


<div class="row text-center footer-mobile-bottom visible-xs">
  <p>FIND OUT MORE ABOUT FOUR51</p>
  <button>CLICK HERE</button>
  </div>
</div>  
